@layer base {
  /* Set the margin of equations. */
  @media (width < 1024px) {
    .katex-display {
      margin: auto !important;
    }
  }

  @media (1024px <= width) {
    .katex-display {
      margin: 1em calc(50% - min(50%, var(--container-lg))) !important;
    }
  }

  /* When equations are too big horizontally, allow scrolling. */
  .katex {
    overflow-x: auto;
    overflow-y: hidden;
    transition: 250ms ease-in-out;
    transition-timing-function: cubic-bezier(0.5,0,0.5,1);

    .katex-html {
      padding: 1px 0;
    }

    &:hover {
      color: var(--text-math-hover);
    }
  }

  /* Fix the margin of equation numbers. */
  .tag {
    > .vlist-t2 {
      margin-right: 0 !important;
    }

    .vlist-s {
      min-width: 0 !important;
      width: 0 !important;
    }
  }
}
